# /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
# /* wallust template - colors-niri */  

layout {
    background-color "rgb(140D16)"

    focus-ring {
        active-color   "rgb(7D5806)"
        inactive-color "rgb(9A8559)"
        urgent-color   "rgb(17011F)"
    }

    border {
        active-color   "rgb(7D5806)"
        inactive-color "rgb(9A8559)"
        urgent-color   "rgb(17011F)"
    }

    shadow {
        color "rgb(3C363E)70" # alpha ajustado como no template original
    }

    tab-indicator {
        active-color   "rgb(7D5806)"
        inactive-color "rgb(9A8559)"
        urgent-color   "rgb(17011F)"
    }

    insert-hint {
        color "rgb(7D5806)80" # alpha como no template original
    }
}
