# /* ---- 💫 https://github.com/JaKooLit 💫 ---- */  
# /* wallust template - colors-niri */  

layout {
    background-color "rgb(111010)"

    focus-ring {
        active-color   "rgb(874C2E)"
        inactive-color "rgb(8A9695)"
        urgent-color   "rgb(0D0C0A)"
    }

    border {
        active-color   "rgb(874C2E)"
        inactive-color "rgb(8A9695)"
        urgent-color   "rgb(0D0C0A)"
    }

    shadow {
        color "rgb(393938)70" # alpha ajustado como no template original
    }

    tab-indicator {
        active-color   "rgb(874C2E)"
        inactive-color "rgb(8A9695)"
        urgent-color   "rgb(0D0C0A)"
    }

    insert-hint {
        color "rgb(874C2E)80" # alpha como no template original
    }
}
