spawn-at-startup "xsettingsd"
spawn-sh-at-startup "qs"
spawn-sh-at-startup "killall swaync"

//spawn-at-startup "waybar"
spawn-sh-at-startup "dms run"

spawn-at-startup "zapzap" 
spawn-sh-at-startup "discord --start-minimized" 
//spawn-at-startup "thunderbird" 
spawn-at-startup "zen-browser" 
spawn-sh-at-startup "sleep 3 && spotify"
spawn-at-startup "lutris" 
spawn-at-startup "steam-native" 
spawn-sh-at-startup "openrgb --startminimized" 
spawn-sh-at-startup "solaar -w hide" 


//swww for wallpaper
//spawn-sh-at-startup "swww-daemon --format xrgb"