window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true    
}

// Thunderbird/ZapZap/PiP no HDMI-A-1 
window-rule {
    match app-id="Spotify"
    match app-id="ZapZap"
    open-on-output "HDMI-A-1"
    open-focused false
    open-maximized false
    default-column-width { proportion 0.5; }
}

//PiP
window-rule {
    match title="Picture-in-Picture"
    open-focused false
    open-floating true
    open-maximized false
    open-on-output "HDMI-A-1"
    open-fullscreen false
    //min-width 1300
    max-height 1000 
    default-floating-position x=50 y=50 relative-to="bottom-right"
}

// Zen Browser no DP-3
window-rule {
    match app-id="zen"
    exclude title="Picture-in-Picture"
    open-on-output "DP-3"
    open-maximized true
    open-focused true
}


// Steam no DP-3 em novo workspace
window-rule {
    match app-id="steam"
    match app-id="lutris"
    open-on-output "DP-3"
    open-focused false
}

// Thunar rename dialog
window-rule {
    match app-id="Thunar"
    match title=r"^Rename"
    open-floating true
    //default-floating-position x=400 y=500 relative-to="bottom-right"

}
