* {
    primary: #ffb4a2;
    primary-fixed: #ffdad2;
    primary-fixed-dim: #ffb4a2;
    on-primary: #561f11;
    on-primary-fixed: #3a0a02;
    on-primary-fixed-variant: #723425;
    primary-container: #723425;
    on-primary-container: #ffdad2;
    secondary: #e7bdb3;
    secondary-fixed: #ffdad2;
    secondary-fixed-dim: #e7bdb3;
    on-secondary: #442a23;
    on-secondary-fixed: #2c1510;
    on-secondary-fixed-variant: #5d4038;
    secondary-container: #5d4038;
    on-secondary-container: #ffdad2;
    tertiary: #dac58c;
    tertiary-fixed: #f7e1a6;
    tertiary-fixed-dim: #dac58c;
    on-tertiary: #3c2f04;
    on-tertiary-fixed: #241a00;
    on-tertiary-fixed-variant: #544519;
    tertiary-container: #544519;
    on-tertiary-container: #f7e1a6;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #1a110f;
    on-surface: #f1dfda;
    on-surface-variant: #d8c2bd;
    outline: #a08c88;
    outline-variant: #534340;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #f1dfda;
    inverse-on-surface: #392e2b;
    inverse-primary: #8f4b3a;
    surface-dim: #1a110f;
    surface-bright: #423734;
    surface-container-lowest: #140c0a;
    surface-container-low: #231917;
    surface-container: #271d1b;
    surface-container-high: #322825;
    surface-container-highest: #3d3230;
}
