@import "../../.config/waybar/wallust/colors-waybar.css";
/* ------ General Pattern ------ 
background: color0 (dark) or color15 (light)
foreground: color7 or color15 (for dark backgrounds), color0 or color8 (for light backgrounds)
accent/highlight: color1–color6, color9–color14  */

* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    border: none;
    border-radius: 12px;
    padding: 1px 8px;
    min-height: 0;
}

window#waybar {
    background-color: @background-alt;
    color: @foreground;
    margin: 0px;
    padding: 6px 12px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

/* Workspaces */
#workspaces {
    background-color: transparent;
    margin: 0 6px;
}

/* Workspaces container */
#workspaces {
    background-color: transparent;
    margin: 0 6px;
    padding: 2px 6px;
    border-radius: 12px;
}

/* Botões dos workspaces */
#workspaces button {
    background: transparent;
    color: @color8;
    margin: 0 2px;
    padding: 0px 0px;
    border-radius: 8px;
    font-size: 8px;
    transition: all 0.3s ease;
}

/* Hover */
#workspaces button:hover {
    background-color: @color3;
    color: @foreground;
}

/* Ativo */
#workspaces button.active {
    background-color: @color12;
    color: @color15;
    font-weight: bold;
    box-shadow: 0 0 6px @color12;
}

/* Urgente */
#workspaces button.urgent {
    background-color: @color1;
    color: @color15;
    animation: blink 1s infinite;
}

/* Inativos (dim) */
#workspaces button {
    opacity: 0.6;
}
#workspaces button.active,
#workspaces button:hover {
    opacity: 1;
}

/* Modules Appearance */
#clock,
#pulseaudio,
#cpu,
#memory,
#disk,
#tray,
#custom-cava_mviz {
    background-color: @color2;
    margin: 0 4px;
    padding: 4px 10px;
    border-radius: 10px;
    color: @foreground;
}

/* Custom Highlight per Type */
#clock {
    background-color: @color3;
}
#cpu,
#memory {
    background-color: @color10;
}
#disk {
    background-color: @color15;
    color: @color9;
}
#pulseaudio {
    background-color: @color12;
    color: @color15;
}
#pulseaudio.muted {
    background-color: @color0;
    color: @color15;
}

/* Tray Special Treatment */
#tray {
    padding: 3px 8px;
    background-color: @color2;
}

/* Hover animation for all modules */
#clock:hover,
#pulseaudio:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#tray:hover {
    background-color: @color8;
    color: @color0;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#power-profiles-daemon {
    min-width: 20px;
    background-color: @color14;
    color: @color9;
}
