@import "colors-waybar.css";

* {
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 13px;
  border: none;
  border-radius: 12px;
  padding: 1px 8px;
  min-height: 0;
}

window#waybar {
  background-color: @background-alt;
  color: @foreground;
  margin: 0px;
  padding: 6px 12px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

/* Workspaces no centro */
#workspaces {
  background-color: transparent;
  margin: 0 6px;
}
#workspaces button {
  background: transparent;
  color: @color7;
  margin: 0 3px;
  padding: 2px 8px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}
#workspaces button.active {
  background-color: @color12;
  color: @foreground;
}

/* Módulos */
#clock,
#cpu,
#memory,
#disk,
#tray {
  background-color: @color2;
  margin: 0 4px;
  padding: 4px 10px;
  border-radius: 10px;
  color: @foreground;
}

/* Barra de volume */
#pulseaudio {
  margin: 0 4px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: @color12;
  color: @foreground;
  min-width: 120px;
}
#pulseaudio slider {
  min-height: 6px;
  border-radius: 6px;
  background-color: @color7;
}
#pulseaudio trough {
  border-radius: 6px;
  background-color: @color3;
}
#pulseaudio highlight {
  background-color: @color6;
  border-radius: 6px;
}
#pulseaudio.muted {
  background-color: @color9;
  color: @color0;
}
