layout {
    background-color "transparent"

    focus-ring {
        active-color   "#b8cbc1"
        inactive-color "#8c928e"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#b8cbc1"
        inactive-color "#8c928e"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#b8cbc1"
        inactive-color "#8c928e"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#b8cbc180"
    }
}