layout {
    background-color "transparent" 

    focus-ring {
        active-gradient from="#89d6b9" to="#a7cce1" angle=45
        // active-color   "#89d6b9"
        inactive-color "#89938d"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#89d6b9"
        inactive-color "#89938d"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#89d6b9"
        inactive-color "#89938d"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#89d6b980"
    }
}

/-recent-windows {
    highlight {
        active-color   "#00513d"
        urgent-color   "#ffb4ab"
    }
}