layout {
    background-color "transparent" 

    focus-ring {
        active-gradient from="#ffb779" to="#c3cb97" angle=45
        // active-color   "#ffb779"
        inactive-color "#9e8e82"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb779"
        inactive-color "#9e8e82"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb779"
        inactive-color "#9e8e82"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb77980"
    }
}

/-recent-windows {
    highlight {
        active-color   "#6b3b04"
        urgent-color   "#ffb4ab"
    }
}