/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #6b3b04 !important;
  --toolbarbutton-icon-fill: #ffb779 !important;
  --toolbar-field-color: #efe0d6 !important;
  --tab-selected-textcolor: #ffb779 !important;
  --toolbar-color: #efe0d6 !important;
  --arrowpanel-color: #efe0d6 !important;
  --arrowpanel-background: #261e18 !important;
  --sidebar-text-color: #efe0d6 !important;
/*  --zen-main-browser-background: #19120c !important; */
}

.sidebar-placesTree {
  background-color: #261e18 !important;
}

#zen-workspaces-button {
  background-color: #261e18 !important;
}

#TabsToolbar {
  background-color: #19120c !important;
}

.urlbar-background {
  background-color: #261e18 !important;
}

.urlbar-input::selection {
  color: #4c2700 !important;
  background-color: #ffb779 !important;
}

.urlbarView-url {
  color: #d6c3b6 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb779
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc18d !important;
  --identity-icon-color: #ffc18d !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb779 !important;
  --identity-icon-color: #ffb779 !important;
}

.identity-color-green {
  --identity-tab-color: #b1ffa1 !important;
  --identity-icon-color: #b1ffa1 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffeea1 !important;
  --identity-icon-color: #ffeea1 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe56b !important;
  --identity-icon-color: #ffe56b !important;
}

.identity-color-red {
  --identity-tab-color: #ffa09a !important;
  --identity-icon-color: #ffa09a !important;
}

.identity-color-pink {
  --identity-tab-color: #ffcca1 !important;
  --identity-icon-color: #ffcca1 !important;
}

.identity-color-purple {
  --identity-tab-color: #763804 !important;
  --identity-icon-color: #763804 !important;
}

#zen-appcontent-navbar-container {
  background-color: #19120c !important;
}
