/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #6d3a09 !important;
  --toolbarbutton-icon-fill: #ffb781 !important;
  --toolbar-field-color: #f0dfd6 !important;
  --tab-selected-textcolor: #ffb781 !important;
  --toolbar-color: #f0dfd6 !important;
  --arrowpanel-color: #f0dfd6 !important;
  --arrowpanel-background: #261e18 !important;
  --sidebar-text-color: #f0dfd6 !important;
  --zen-main-browser-background: #19120d !important;
}

.sidebar-placesTree {
  background-color: #261e18 !important;
}

#zen-workspaces-button {
  background-color: #261e18 !important;
}

#TabsToolbar {
  background-color: #19120d !important;
}

.urlbar-background {
  background-color: #261e18 !important;
}

.urlbar-input::selection {
  color: #4e2600 !important;
  background-color: #ffb781 !important;
}

.urlbarView-url {
  color: #d6c3b7 !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb781
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffc193 !important;
  --identity-icon-color: #ffc193 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb781 !important;
  --identity-icon-color: #ffb781 !important;
}

.identity-color-green {
  --identity-tab-color: #b5ffa5 !important;
  --identity-icon-color: #b5ffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffefa5 !important;
  --identity-icon-color: #ffefa5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe672 !important;
  --identity-icon-color: #ffe672 !important;
}

.identity-color-red {
  --identity-tab-color: #ffa49f !important;
  --identity-icon-color: #ffa49f !important;
}

.identity-color-pink {
  --identity-tab-color: #ffcca6 !important;
  --identity-icon-color: #ffcca6 !important;
}

.identity-color-purple {
  --identity-tab-color: #76380b !important;
  --identity-icon-color: #76380b !important;
}

#zen-appcontent-navbar-container {
  background-color: #19120d !important;
}

#PanelUI-menu-button .toolbarbutton-icon,
#downloads-button .toolbarbutton-icon,
#unified-extensions-button .toolbarbutton-icon {
  fill: #ffb781 !important;
  color: #ffb781 !important;
}

#PanelUI-menu-button .toolbarbutton-badge-stack,
#downloads-button .toolbarbutton-badge-stack,
#unified-extensions-button .toolbarbutton-badge-stack {
  fill: #ffb781 !important;
  color: #ffb781 !important;
}

toolbar .toolbarbutton-1 > .toolbarbutton-icon {
  fill: #ffb781 !important;
}
