/* DMS Matugen Zen Browser Theme */
:root {
  --zen-primary-color: #73342d !important;
  --toolbarbutton-icon-fill: #ffb4aa !important;
  --toolbar-field-color: #f1dedc !important;
  --tab-selected-textcolor: #ffb4aa !important;
  --toolbar-color: #f1dedc !important;
  --arrowpanel-color: #f1dedc !important;
  --arrowpanel-background: #271d1c !important;
  --sidebar-text-color: #f1dedc !important;
  --zen-main-browser-background: #1a1110 !important;
}

.sidebar-placesTree {
  background-color: #271d1c !important;
}

#zen-workspaces-button {
  background-color: #271d1c !important;
}

#TabsToolbar {
  background-color: #1a1110 !important;
}

.urlbar-background {
  background-color: #271d1c !important;
}

.urlbar-input::selection {
  color: #561e18 !important;
  background-color: #ffb4aa !important;
}

.urlbarView-url {
  color: #d8c2bf !important;
}

toolbar .toolbarbutton-1 {
  &:not([disabled]) {
    &:is([open], [checked])
      > :is(
        .toolbarbutton-icon,
        .toolbarbutton-text,
        .toolbarbutton-badge-stack
      ) {
      fill: #ffb4aa
    }
  }
}

.identity-color-blue {
  --identity-tab-color: #ffbfb6 !important;
  --identity-icon-color: #ffbfb6 !important;
}

.identity-color-turquoise {
  --identity-tab-color: #ffb4aa !important;
  --identity-icon-color: #ffb4aa !important;
}

.identity-color-green {
  --identity-tab-color: #b8ffa5 !important;
  --identity-icon-color: #b8ffa5 !important;
}

.identity-color-yellow {
  --identity-tab-color: #ffeea5 !important;
  --identity-icon-color: #ffeea5 !important;
}

.identity-color-orange {
  --identity-tab-color: #ffe472 !important;
  --identity-icon-color: #ffe472 !important;
}

.identity-color-red {
  --identity-tab-color: #ffa09f !important;
  --identity-icon-color: #ffa09f !important;
}

.identity-color-pink {
  --identity-tab-color: #ffcac3 !important;
  --identity-icon-color: #ffcac3 !important;
}

.identity-color-purple {
  --identity-tab-color: #76362d !important;
  --identity-icon-color: #76362d !important;
}

#zen-appcontent-navbar-container {
  background-color: #1a1110 !important;
}
